<div class="container">
    <div class="todo-list">
      <form (ngSubmit)="add(taskNgForm);" #taskNgForm="ngForm">
        <div class="input-group">
          <input name="date" [matDatepicker]="picker" [(ngModel)]="date">
          <mat-datepicker-toggle [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </div>
    
        <!--We want to show the title of the component through one way data binding-->
        <div class="input-group">
          <input #newTask="ngModel" required name="taskTitle" type="text" placeholder="Todo's" [(ngModel)]="newTaskTitle" > <!--Local referencing '#newTask'-->
          <button  type="add-button">+</button> <!--Here we binded an event which listens to the add() listner which is done in parenthesis.-->
        </div>
        <div *ngIf="newTask.invalid && (newTask.touched || newTask.dirty)" class="validation-error" >Task field is required</div>
      </form>

      <table>
        <!--For each element in array we want to create a table row -->
        <tr *ngFor="let task of tasks ; let i=index" [class.odd] = "i%2" >
          <td>
            <p [class.is-done] = "task.isDone" >
              {{task.title}} <!--All will be loaded through components-->
            </p>
          </td>
          <td>
            <button (click)="remove(task)" type="remove-button">X</button>
            <button (click)="task.toggleIsDone()" type="done-button"><!--Here the task is the task which is looped . the inserted tasks-->
              {{ task.isDone? "Undo" : "Done"}}
            </button>
          </td>
        </tr>
        
      </table>
    </div>
  </div>
